#World{
    color:rgb(171, 255, 4);
    font-size: 60px;
    filter: drop-shadow(30px 30px 20px #000000);
}
.CSS{
border: 5px;
background:#179ae6;
color: yellow;
border-radius: 20px;
border-style: solid;
font-size:40px;
border-color:#119dda ;
margin-left: 5px;
margin-right: 5px;
text-align: center;
   
}
#cont{
font-size:25px;
color:darkorange
}
#cont:hover{
color:rgb(168, 246, 13)
}
.CSS:hover{
    background-color: linen;
    border:5px solid rgb(169, 249, 10)
    
    
}
body{
    background-image: url(1.png);
    background-size: 100%;
}
#JS{
    text-align: center;
    font-size: 40px;
    color:#179ae6;
    font-weight: bold;
    text-shadow:(50px 50px 50px #179ae6);

}
#submit{
    background:#179ae6;
    color: yellow;
    border-radius: 20px;
    font-size: 25px;
    border: 5px;
    border-style: solid;
    border-color:#119dda 
}
#submit:hover{
    background-color: linen;
    border:5px solid rgb(169, 249, 10)   
}
#container{
    text-align: left;
    color: rgb(243, 12, 235);
    font-size: 20px;
}
#container:hover{
background-color: linen;
color:rgb(29, 14, 230);
border:5px solid rgb(169, 249, 10);
border-radius: 20px;

}

    